<%# locals: (import:) %>

<%= styled_form_with model: @import, url: import_configuration_path(@import), scope: :import, method: :patch, class: "space-y-2" do |form| %>
  <div class="space-y-4">
    <div class="flex items-center gap-2">
      <%= form.select :date_col_label, import.csv_headers, { include_blank: t(".leave_empty"), label: t(".date") }, required: true %>
      <%= form.select :date_format, Family::DATE_FORMATS, { label: t(".date_format_label")}, label: true, required: true %>
    </div>

    <div class="flex items-center gap-2">
      <%= form.select :qty_col_label, import.csv_headers, { include_blank: t(".leave_empty"), label: t(".quantity") } %>
      <%= form.select :signage_convention,
      [[t(".positive_qty"), "inflows_positive"], [t(".negative_qty"), "inflows_negative"]],
      { label: t(".signage_convention") } %>
    </div>

    <div class="flex items-center gap-2">
      <%= form.select :currency_col_label, import.csv_headers, { include_blank: t(".leave_empty"), label: t(".currency") } %>
      <%= form.select :number_format, Import::NUMBER_FORMATS.keys, { label: t(".format"), prompt: t(".select_format") }, required: true %>
    </div>

    <%= form.select :ticker_col_label, import.csv_headers, { include_blank: t(".leave_empty"), label: t(".ticker") } %>
    <%= form.select :exchange_operating_mic_col_label, import.csv_headers, { include_blank: t(".leave_empty"), label: t(".exchange_mic") } %>
    <%= form.select :price_col_label, import.csv_headers, { include_blank: t(".leave_empty"), label: t(".price") } %>

    <% unless import.account.present? %>
      <%= form.select :account_col_label, import.csv_headers, { include_blank: t(".leave_empty"), label: t(".account_optional") } %>
    <% end %>

    <%= form.select :name_col_label, import.csv_headers, { include_blank: t(".leave_empty"), label: t(".name_optional") } %>

    <% unless Security.provider %>
      <div class="alert alert-warning">
        <p>
          <strong>t(".note")</strong> <%= t(".provider_warning") %>
        </p>
      </div>
    <% end %>
  </div>

  <%= form.submit t(".apply_configuration"), class: "w-full btn btn--primary", disabled: import.complete? %>
<% end %>
