<p><%= t(".data_not_found") %></p>

<p><%= t(".help_us_improve") %></p>

<p><%= t(".join_discord_html", link: link_to("serveur Discord", "https://link.maybe.co/discord", target: "_blank")) %></p>

<ul>
  <li><%= t(".questions.missing_data_type") %></li>
  <li><%= t(".questions.additional_info") %></li>
</ul>
